<html>

    <head>
        <meta charset="UTF-8">
    </head>

    <body>

        <h1>Nuestros productos</h1>

        <div>
            <form method="get">
                <input type="text" placeholder="Buscar..." name="buscar">
                <button type="submit">Buscar</button>
            </form>
        </div>

        <table>
        {% for Producto in prd %}
            <tr>
                <td><label type="text" name="nombre">Nombre: {{ Producto.nombre_P }}</label></td>
            </tr>
            <tr>
                <td><label type="text" name="marca">Marca: {{ Producto.nombre_M }}</label></td>
            </tr>
            <tr>
                <td><label type="text" name="precio">Precio: {{ Producto.precio }}€</label></td>
            </tr>
            <tr>
				<td><input type="number" style="width: 50px;"><a name="uds" id="uds" href="" role="button">Uds</a></input></td>
				<td><button><a name="comprar" id="comprar" href="" role="button">Comprar</a></button></td>
            </tr>
            <tr>
                <td><p> --------- </p></td>
            </tr>
        {% endfor %}
        </table>

    </body>

</html>