{% extends 'tienda/base.html' %}
<html>

<head>
    <meta charset="UTF-8">
</head>

{% block content %}

<body>

    <h1> Top 10: Clientes con mayor importe gastado </h1>

    <p>     </p>

        <table class="table table-striped">


        {% for Vendido in cliente %}

            <tr>


                <td><label type="text" name="nombre">Cliente: {{ Vendido.username }}</label></td>


                <td><label type="text" name="importe">importe total: {{ Vendido.suma }}€</label></td>

            </tr>


        {% endfor %}

        </table>
</body>

{%  endblock %}

</html>
