{% extends 'tienda/base.html' %}
<html>

<head>
    <meta charset="UTF-8">
</head>

{% block content %}

<body>

    <h1> Top 10: Clientes con mayor importe gastado </h1>

    <p>     </p>

        <table class="table table-striped">

        {% for Vendido in top10C %}

            <tr>

                <td><label type="text" name="nombre">Id compra: {{ Vendido.id_compra }}</label></td>

                <td><label type="text" name="nombre">Cliente: {{ Vendido.id_cliente }}</label></td>

                <td><label type="text" name="nombre">Nombre: {{ Vendido.nombre_P }}</label></td>

                <td><label type="text" name="marca">Marca: {{ Vendido.nombre_M }}</label></td>

                <td><label type="text" name="unidades">Unidades: {{ Vendido.unidades }}</label></td>

                <td><label type="text" name="importe">importe total: {{ Vendido.importe }}€</label></td>

            </tr>

        {% endfor %}

        </table>
</body>

{%  endblock %}

</html>
