<form action="" method="POST"> 
    {% csrf_token %} 
    {% for campo in formulario %}

    <!--Con el metodo Post, los datos se envian usando la url del navegador,
    en el for le digo de donde vienen los datos-->
    
        <label type="text" name="nombre_P">Nombre: </label>
    
        <label type="text" name="modelo">Modelo: </label>
    
        <label type="text" name="unidades">Uds: </label>
    
        <label type="text" name="precio">Precio: </label>
    
        <label type="text" name="detalles">Detalles: </label>
    
        <label type="text" name="marca">Marca: </label>
    
        <input type="submit" value="Añadir">

    {% endfor %}
    </form>